USE [master]
GO
/****** Object:  Database [Aptech]    Script Date: 12/6/2021 12:06:07 AM ******/
CREATE DATABASE [Aptech]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Aptech', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SA\MSSQL\DATA\Aptech.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Aptech_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SA\MSSQL\DATA\Aptech_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Aptech].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Aptech]
GO
/****** Object:  Table [dbo].[Faulty]    Script Date: 12/6/2021 12:06:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Faulty](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NULL,
	[Designation] [nvarchar](50) NULL,
	[No_of_batch] [nvarchar](10) NULL,
	[Salary] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
USE [master]
GO
